* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Tilt Prism', cursive; */
    /* font-family: 'Sedgwick Ave Display', cursive; */
    /* font-family: 'Kalam', cursive; */
}

body {
    background-color: rgb(247, 247, 34);
    color: black;
}

.block h1 {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    padding: 2px;
    background-color: rgb(111, 2, 2);
    margin: 2rem 20rem;
    color: white;
}

/* .forms{
    font-size: 3rem;
    text-align: center;
}  */
.forms form {
    font-size: 4rem;
    background-color: rgb(42, 225, 155);
    color: black;
    text-align: center;
    padding: 2rem;
    margin: 0rem 20rem;
    border: 1px solid rgb(42, 225, 155);
    border-radius: 20px;
}

input,select {
    padding: 10px;
    margin: 10px;
    width: 25%;
    font-size: 1rem;
    margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
}